.selectbox-autocomplete-span:before {
  content: "\0A0\01f50d"; /* [&nbsp;] and [emoji: Left-Pointing Magnifying Glass] */
}
.selectbox-autocomplete-span {
  white-space: nowrap;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #FFFFFF;
}
.ui-autocomplete .ui-state-focus {
   background: #e8e9ed;
   border-style: none;
   font-weight: normal;
   color: inherit;
   margin: 0;
}

#project_quick_jump_box_autocomplete_span:before {
  content: "";
}

#wiki_page_parent_id_autocomplete {
  width: 30%;
}

#issue_assigned_to_id_autocomplete {
  width: 30%;
}
